body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    display: flex;
}

    .wrapper .left__side {
        width: 17%;
        height: 94vh;
        background-color: #0b3a4f;
        text-align: center;
    }

.left__side .side__main{
    width: 100%;
    height: 80px;
}

.side__main h3 {
    line-height: 80px;
    color: #cfcdbc;
}

.wrapper .right__side {
    width: 83%;
    height: 94vh;
}

.left__side .side__action {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #cfcdbc;
    margin: 10px 0;
}

    .left__side .side__action:hover {
        background-color: #185e7d;
        transition: .5s;
    }

    .side__action i {
        font-size: 27px;
        margin: auto;
    }

.header {
    align-items: center;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #149ad9;
}

    .header .search_form {
        background-color: transparent;
        width: 433px;
        height: 50px;
        margin: 10px 30px;
        border: 2px solid white;
        border-radius: 25px;
    }

.search_form input[type=text] {
    width: 350px;
    height: 45px;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 25px;
    color: white;
    font-size: 15px;
}

    .search_form input[type=text]::placeholder {
        color: white;
        font-size: 14px;
    }

.search_form button {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 25px;
    transition: .5s;
}

    .search_form button:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }

        .search_form button:hover i {
            color: black;
        }

    .search_form button i {
        color: white;
        font-size: 20px;
    }

.header a {
    color: white;
    right: 59px;
    position: absolute;
    font-size: 17px;
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}